@import url(css/root.css);


/* SERVICES */

.services {
    padding: 175px 0;
    position: relative;
    z-index: 3;
    background-color: #f0f0f0;
}

.services .container .line {
    border-top: 1px solid var(--dark-violet);
    padding: 35px 0;
}

.services .container h1 {
    font-family: var(--headings-font);
    font-weight: var(--body-weight-bolder);
    font-size: 64px;
    color: var(--dark-violet);
    position: relative;
    z-index: 4;
}

.grid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
}

.grid h2 {
    margin-top: 30px;
    font-weight: var(--body-weight-bolder);
    font-family: var(--body-font);
    color: var(--dark-violet);
    font-size: 24px;
}

.grid p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: var(--body-weight);
    font-family: var(--body-font);
    color: var(--dark-grayish-violet);
}


/* GALLERY */

.photo-gallery {
    background-color: #f0f0f0;
    padding: 20px 0;
}

.photo-gallery .line {
    border-top: 1px solid var(--dark-violet);
    padding: 25px 0;
}

.photo-gallery h1 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: var(--dark-violet);
    font-family: var(--headings-font);
    font-weight: var(--body-weight-bolder);
    font-size: 64px;
}

.photo-gallery .hover-shadow {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.3s;
}

.photo-gallery img:hover {
    opacity: 0.7;
}
  
  /* Container */
.photo-gallery .container .photo-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    justify-items: center;
    align-items: center;
    padding: 50px 0;
}
  
  /* Modal */
.photo-gallery .modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.mobile-modal {
    display: none;
}
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.modal-content #img01 {
    width: 700px;
    height: 500px;
    object-fit: cover;
}

.modal-content #img01:hover {
    opacity: 1;
}
  
.close {
    position: absolute;
    top: 70px;
    right: 10px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 3;
}
  
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
.prev, .next {
    cursor: default;
  width: fit-content;
  height: fit-content;
  padding: 0 16px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: 0;
}

.prev img, .next img {
    cursor: pointer;
}

.prev {
    left: 500px;
}

.next {
    right: 500px;
    border-radius: 3px 0 0 3px;
}

/* ABOUT */

.about {
    background-color: #f0f0f0;
    position: relative;
    z-index: 3;
}

.about .container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.about .container .about-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: fit-content;
    margin-top: 40px;
}

.about .line {
    border-top: 1px solid var(--dark-violet);
    padding: 25px 0;
}

.about h1 {
    font-family: var(--headings-font);
    font-weight: var(--body-weight-bolder);
    color: var(--dark-violet);
    font-size: 64px;
    line-height: 90px;
}

.about h2 {
    font-weight: var(--body-weight-bolder);
    font-family: var(--body-font);
    color: var(--dark-violet);
    font-size: 28px;
}

.about p {
    font-size: 20px;
    font-weight: var(--body-weight);
    font-family: var(--body-font);
    color: var(--dark-grayish-violet);
    line-height: 27px;
    font-size: 20px;
    padding: 30px 15px 0 0;
}

/* CONTACT */

.contact {
    padding: 50px 0;
    background-color: #f0f0f0;
    position: relative;
    z-index: 3;
}

.contact .line {
    border-top: 1px solid var(--dark-violet);
    padding: 25px 0;
}

.contact h1 {
    font-family: var(--headings-font);
    font-weight: var(--body-weight-bolder);
    font-size: 64px;
    color: var(--dark-violet);
}

.contact .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: fit-content;
    margin-top: 75px;
}

.contact .grid .col {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.contact .icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #96A9C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact i {
    font-size: 24px;
}

.contact .phone, .contact .whatsapp, .contact .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.contact .whatsapp i {
    font-size: 26px;
}

.contact .grid p {
    margin-top: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: var(--body-weight);
    font-family: var(--body-font);
    color: var(--dark-grayish-violet);
}

.contact .grid a {
    color: var(--dark-grayish-violet);
    font-family: var(--header-font);
    font-weight: var(--body-weight);
    padding: 0 10px;
    transition: 0.3s ease;
}

.contact .grid a:hover {
    color: var(--dark-violet);
    text-decoration: underline;
}

.contact iframe {
    width: 400px;
    height: 250px;
}

/* FOOTER */

.pre-footer {
    padding: 150px 0;
    background-color: #2D2640;
    position: relative;
    color: #fff;
}

.pre-footer .row {
    width: 100%;
    padding: 0;
    margin: 0;
}

.pre-footer h1 {
    margin: 0;
}

.pre-footer .col-md-4, .col-md-8 {
    padding: 0;
    z-index: 9;
}

.pre-footer .col-md-8 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 40px;
}

.pre-footer svg:hover path {
    fill: #fff;
    transition: 0.3s ease;
}

.pre-footer .row span {
    display: block;
    border-top: 1px solid var(--dark-grayish-violet);
    width: 100%;
    margin-top: 50px;
    padding: 0 12px;
}

.pre-footer .background-pattern {
    background: url(images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 436px;
    height: 80%;
    top: 0;
    left: -50px;
    z-index: 0;
    transform: rotate(320deg);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: #2D2640;
}

.attribution a {
    color: #fff;
}


/* opce */

.line {
    display: block;
    width: 150px;
    border-top: 2px solid var(--very-light-gray);
    position: relative;
    z-index: 1;
}


/* MEDIA QUERIES */


@media screen and (max-width:1400px) {

    .hero .col-md-6 h1 {
        font-size: 64px;
        line-height: 60px;
        padding: 30px 0;
    }

    .hero .col-md-6 p {
        line-height: 25px;
        font-size: 16px;
        padding: 0 0 30px 0;
    }

    .hero .col-md-6 img {
        width: 80%;
        height: 80%;
    }

    .hero .background-pattern {
        z-index: -1;
    }

    .contact iframe {
        width: 300px;
    }
}

@media screen and (max-width:1024px) {

    .hero .col-md-6 h1 {
        font-size: 48px;
        line-height: 60px;
        padding: 30px 0;
    }

    .hero .col-md-6:nth-child(2) {
        top: 15%;
        right: 5%;
    }


    .grid h2 {
        font-size: 20px;
    }

    .grid p {
        margin-top: 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {

    .hero .col-md-6 h1 {
        padding: 0;
    }

    .hero .col-md-6 {
        width: 60%;
    }

    .hero .col-md-6 p {
        padding: 0 40px 30px 0;
    }

    .hero .col-md-6 img {
        width: 300px;
    }

    .about .about-grid {
        text-align: center;
    }

    .about .container .about-grid .column-third {
        grid-column: span 2;
        margin-top: 40px;
    }

    .about .column-third p {
        padding: 15px 0;
    }


    .modal #img01 {
        width: 600px;
        height: auto;
    }

    .contact .grid .col{
        justify-content: top;
        align-items: center;
        text-align: center;
    }

    .contact .grid .column-third {
        grid-column: span 2;
        width: 100%;
        place-items: center;
    }

    .contact .grid iframe {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .checkbtn {
        display: block;
        position: relative;
        z-index: 10;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: #f0f0f0;
        top: -100%;
        left: 0;
        text-align: center;
        z-index: 5;
        transition: 0.3s ease;
    }

    nav ul li {
        display: inline-block;
        margin: 40px 10px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        top: 79px;
    }

    .hero {
        margin-top: 0;
        height: 490px;
        position: relative;
    }

    .hero .col-md-6 {
        width: 100%;
    }

    .hero .col-md-6 p {
        padding: 30px;
    }

    .hero .col-md-6:nth-child(2) {
        display: none;
    }

    .hero .container {
        padding: 120px 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .hero .line {
        display: none;
    }

    .hero .col-md-6 {
        text-align: center;
    }

    .services .container .line {
        border-top: 1px solid var(--dark-violet);
        padding: 25px 0;
        margin: 0 auto;
    }
    
    .services h1 {
        font-size: 48px;
        text-align: center;
    }

    .grid {
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5rem;
        text-align: center;
    }

    .modal #img01 {
        width: 440px;
        height: auto;
    }


    .pre-footer .background-pattern {
        background: url(images/bg-pattern-footer-mobile.svg);
        background-repeat: no-repeat;
        left: -20px;
        top: -60px;
    }

    .pre-footer .container .row {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .pre-footer .row .col-md-8 {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    .about .container .about-grid{
        display: block;
        text-align: left;
    }

    .about p {
        padding: 10px 0;
    }

    .about .container .about-grid .column-first,
    .about .container .about-grid .column-second,
    .about .container .about-grid .column-third {
        margin: 15px 0;
    }

    .about .column-third h2, .about .column-third p {
        text-align: left;
    }

    .contact .grid, .contact .grid .col {
        display: block;
        text-align: left;
        margin: 50px 0;
    }

    .contact iframe {
        margin: 25px 0;
    }
}

@media screen and (max-width: 575px) {

    .hero .col-md-6 {
        height: 300px;
        padding: 50px 0;
    }

    .hero .col-md-6 p {
        margin: 15px;
        padding: 0 20px;
        font-size: 14px;
    }

    .hero .col-md-6 h1 {
        font-size: 36px;
        padding: 10px;
    }

    .hero .row {
        height: fit-content;
    }

    .hero .contact-us-btn {
        font-size: 16px;
    }

    .hero .background-pattern {
        background: url(images/bg-pattern-intro-right-mobile.svg);
        background-repeat: none;
        width: 124px;
        height: 330px;
    }

    .services .background-pattern-left {
        background: url(images/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat;
        width: 168px;
        height: 165px;
    }

    nav ul {
        padding: 0;
    }

    nav ul li a {
        font-size: 15px;
    }

    .photo-gallery .hover-shadow {
        width: 85vw;
    }

    .modal-content #img01 {
        width: 60vw;
    }

    .modal-content {
        display: none;
    }

    .mobile-modal {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
    
    .mobile-modal .prev {
        position: absolute;
        left: 20px;
        top: 45%;
    }

    .mobile-modal .next {
        position: absolute;
        right: 20px;
        top: 45%;
    }

    .mobile-modal #img01mobile {
        width: 90vw;
        height: 300px;
        object-fit: cover;
    }
      
}

@media screen and (max-width: 425px) {

    nav ul li {
       margin-right: 2px;
       margin-left: 2px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .hero .col-md-6 h1 {
        font-size: 28px;
    }

}
